:root {
    --color-black: #353535;
    --color-line: #dee2e6;

    --color-basic: #f8f9fd;
    --color-dark-basic: #ffffff;
    --color-selection: #00000010;

    --color-menu: #ffffff;
    --color-menu-selection: #00000010;
    --color-submenu: #867d74;
    --color-submenu-selection: #00000010;
    --color-menu-active: #dceada;
    --color-menu-active-text: #548024;
    --color-shadow: #00000020;

    --color-button: #82bb44;
    --color-button-text: #ffffff;
    --color-button2: transparent;
    --color-button2-text: #6c757d;
    --color-button2-border: #8a939a;
    --color-button3: #e6e9ec;
    --color-button3-text: #5f5f5f;

	--width-menu: 200px;
}

body {
    margin: 0;                          /* Отступы от краёв экрана */
    background: var(--color-basic);        /* Фоновый цвет страницы */
}

.content {
    margin-left: var(--width-menu);
    padding: 20px;
}

p, span, label, a, caption, button, h1, h2, fieldset {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-black);
}

p, span, label, caption {
    cursor: default;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin: 20px;
}

a, button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    cursor: default;
}

td {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-black);
}

tr {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-black);
}

table tr {
    border-bottom: 1px solid var(--color-line);
    height: 40px;
}

table tr:last-child {
    border-bottom: none;
}

.tableHeader {
	font-weight: bold;
}

.btnAccent {
    background-color: var(--color-button);
    color: var(--color-button-text);
    border: none;
    padding: 1.05vh 1.4vw;
    margin: 0 0.8vw;
    border-radius: 5px;
}

.btnNoAccent {
    background-color: var(--color-button2);
    color: var(--color-button2-text);
    border: 1px solid var(--color-button2-border);
    padding: 1.05vh 1.4vw;
    margin: 0 0.8vw;
    border-radius: 5px;
}

.btnNoActive {
    background-color: var(--color-button3);
    color: var(--color-button3-text);
    border: none;
    padding: 1.05vh 1.4vw;
    margin: 0 0.8vw;
    border-radius: 5px;
}

/* ------------ МЕНЮ --------------- */

tbody tr:hover {
    background-color: var(--color-selection);
}

nav {
	position: fixed;
	z-index: 100;
	margin: 0;
	width: var(--width-menu);
	height: 100vh;
	background-color: var(--color-menu);
	color: var(--color-black);
    box-shadow: 0px 0px 20px  var(--color-shadow);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul > li {
    position: relative;
}

ul > li > a {
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	background-color: none;
}

ul > li > a:hover {
    background-color: var(--color-menu-selection);
}

.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--color-submenu);
    min-width: var(--width-menu);
    z-index: 1000;
}

.submenu li a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: var(--color-submenu-selection);
}

/* Показываем подменю при наведении */
ul > li:hover .submenu {
    display: block;
}

.active {
    background-color: var(--color-menu-active);
}

.active a {
    color: var(--color-menu-active-text);
}
