.form-container {
    background-color: var(--color-dark-basic);
    border-radius: 40px;
    box-shadow: 0px 0px 20px  var(--color-shadow);
    padding: 30px;
    max-width: 500px;
    margin: auto;
}

.fieldsetGlav {
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.fieldsetGlav legend {
    padding-bottom: 10px;
}

.fieldsetGlav input {
    margin-bottom: 20px;
}

.btnAccent2 {
    background-color: var(--color-button);
    color: var(--color-button-text);
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}