{% extends "main/base.html" %}
{% load static %}

{% block CSS %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock CSS %}

{% block CONTENT %}
<div class="profile-container">
    <h1>Профиль пользователя</h1>
    <div class="profile-card">
      <div class="avatar">
        <!-- можно показать настоящую аватарку, если храните; иначе placeholder -->
        <img src="{% static 'image/profile.png' %}" alt="avatar">
      </div>
      <div class="info">
        <p><strong>Имя:</strong> {{ user.get_full_name|default:user.username }}</p>
        <p><strong>Логин:</strong> {{ user.username }}</p>
        <p><strong>Email: </strong>yulyagoogle@mail.ru {{ user.email }}</p>
        <p><strong>Сыграно партий: </strong>23 {{ games_played }}</p>
        <p><strong>Зарегистрирован: </strong>27 апреля 2025 {{ games_played }}</p>
        <!-- кнопка редактировать профиль, сменить пароль -->
        {% comment %} <a href="{% url 'account_change_password' %}" class="btn">Сменить пароль</a> {% endcomment %}
      </div>
    </div>
    <div class="profile-card" style='margin-top: 20px'>
      <div class="info">
        <h1 class="gg">Мой рейтинг: 1852</h1>
        <img src="{% static 'image/reiting.png' %}" alt="">
      </div>
    </div>
</div>
{% endblock CONTENT %}
