{% extends "main/base.html" %}
{% load static %}

{% block CSS %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock CSS %}

{% block JS %}
    <script type="module" src="{% static 'js/home.js' %}"></script>
{% endblock JS %}

{% block CONTENT %}
<div style="background-image: url({% static 'image/human.png' %})"></div>
<div class="containerA">
    <div class="areaA5">
        <button id="btnCreateGame">Создать игру</button>
    </div>
    <div class="areaA1">
        <button id="btnProfile">Профиль</button>
    </div>
    <div class="areaA2">
        <p class="tableHeader">Последние турниры</p>
        <table>
            <tbody>
                {% for data in tournaments %}
                    <tr onclick="document.location = {{ data.9 }}">
                        <td><div style="background-image: url({{ data.8 }})"></div></td>
                        <td style="text-align: left; padding-left: 10px; width: 190px;">{{ data.0 }}</td>
                        <td>{{ data.1 }}</td>
                        <td style="text-align: left;">{{ data.2 }}</td>
                        <td><img src="{% static 'image/human.png' %}" style="height: auto; width: 10px;"></td>
                        <td style="text-align: left;">{{ data.3 }}</td>
                    </tr>
                {% endfor %}
                {% comment %} <tr onclick="document.location = '/user/Серый Волк';"> {% endcomment %}
                {% comment %} <div class="row-avatar" style="background-image: url('/img/noavatar.png')"></div> {% endcomment %}
            </tbody>
        </table>
    </div>
    <div class="areaA3">
        <div class="areaA3-1">
            <p class="tableHeader">Короткие нарды</p>
            <table class="leaders">
                <tbody>
                    <tr>
                        <td><img src="{% static 'image/medal1.png' %}" style="height: 40px; width: auto;"></td>
                        <td>Давид</td>
                        <td>2406</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'image/medal2.png' %}" style="height: 40px; width: auto;"></td>
                        <td>Артур</td>
                        <td>2155</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'image/medal3.png' %}" style="height: 40px; width: auto;"></td>
                        <td>Арсен</td>
                        <td>2075</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="areaA3-2">
            <p class="tableHeader">Длинные нарды</p>
            <table class="leaders">
                <tbody>
                    <tr>
                        <td><img src="{% static 'image/medal1.png' %}" style="height: 40px; width: auto;"></td>
                        <td>Сурен</td>
                        <td>2400</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'image/medal2.png' %}" style="height: 40px; width: auto;"></td>
                        <td>Тигран</td>
                        <td>2303</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'image/medal3.png' %}" style="height: 40px; width: auto;"></td>
                        <td>Армен</td>
                        <td>2250</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="areaA4">
        <p class="tableHeader">Зал ожидания</p>
        <table>
            <tbody>
                {% for data in waiting %}
                    <tr>
                        <td>{{ data.0 }}</td>
                        <td>{{ data.1 }}</td>
                        <td>{{ data.2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
{% endblock CONTENT %}
