button {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: transparent;
    border: none;
}

.leaders {
    margin-top: 10px;
}

.leaders td {
    height: 60px;
}

#btnCreateGame {
    background-color: var(--color-button);
    color: var(--color-button-text);
}

/* ------------------------------------------------------------ */

.containerA {
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 1fr;
    grid-template-rows: 28vh 20vh 35vh;
    gap: 35px 35px;
    grid-auto-flow: row;
    grid-template-areas:
        "areaA5 areaA2 areaA4"
        "areaA1 areaA2 areaA4"
        "areaA3 areaA3 areaA4";
}
.areaA1 { grid-area: areaA1; }
.areaA2 { grid-area: areaA2; }
.areaA3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 40px;
    grid-template-areas:
        "areaA3-1 areaA3-2";
    grid-area: areaA3;
    padding: 20px;
}
.areaA3-1 { grid-area: areaA3-1; }
.areaA3-2 { grid-area: areaA3-2; }
.areaA4 { grid-area: areaA4; }
.areaA5 { grid-area: areaA5; }

.areaA1, .areaA2, .areaA3, .areaA4, .areaA5 {
    background-color: var(--color-dark-basic);
    border-radius: 40px;
    box-shadow: 0px 0px 20px  var(--color-shadow);
}

.areaA3 p, .areaA4 p {
    text-align: center;
}

.areaA4 p, .areaA2 p {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}